p.logo-title{
    color: #4C431D;
    font-size: 40px;
    font-weight: bold;
}

.white-background{
    background-color: white !important;
}

.downl-btn{
    background-color: #FFE162 !important;
    color: #4C431D !important;
}

.brown-border{
    border-color: #4C431D !important;
}

.submit-btn{
    margin-top:10px;
}

.img-dspl{
    max-height:50px;
    width:auto;
}

.content-boxx{
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    border-style: solid;
    border-width: 5px;
}

.container-border{
    border-top: 1px solid #4C431D !important;
    border-bottom: 1px solid #4C431D !important;
}

.white-background{
    background-color:white;
}