<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="{{ app.router.static.url(filename='style.css') }}">
</head>
<body>

<section class="hero is-warning is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <p class="logo-title">MusInst</p>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item {% block local_active %}{% endblock %}" href="/">
              From a local storage
            </a>
            <a class="navbar-item {% block link_active %}{% endblock %}" href="/by_link">
              By the link
            </a>
            <a class="navbar-item" href="https://github.com/ripiuk/MusInst-recognition">
              <span class="icon">
                <i class="fa fa-github"></i>
              </span>
              <span>Download</span>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Music Instruments recognition
      </h1>
      {% block choose_file %}
      {% endblock %}
    </div>
  </div>
</section>

{% block body %}
{% endblock %}
</body>
</html>