{% extends "base.html" %}

{% block link_active %}is-active{% endblock %}

{% block choose_file %}
  <h2 class="subtitle">
    Choose an image of music instrument from an url to recognize it
  </h2>

<form action="" method="post" accept-charset="utf-8">
  <div class="level-item">
      <p class="control">
        <input name="image_url" class="input brown-border" type="text" placeholder="Link to image of music instrument">
      </p>
  </div>
  <div class="level-item submit-btn">
    <p class="control">
      <button class="button is-warning is-inverted" type="submit">
        Submit
      </button>
    </p>
  </div>
</form>
{% endblock %}

{% block body %}
{% endblock %}